/* shared styles */
span {
    color: #FF5400;
}


/* nav section */
header,
main {
    margin: 45px 100px 45px 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-name {
    display: inline-flex;
}

.ancor-part>a {
    text-decoration: none;
    margin-left: 40px;
}

/* banner-section */
.banner-section {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    margin-top: 40px;
    text-align: center;
    padding: 70px 0px;
    width: 100%;
    height: 300px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

}

.banner-section>h1 {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0px;
}

.banner-section>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    margin-top: 20px;
}

.input-box>input {
    background-color: #fff;
    border-radius: 8px;
    margin-left: 20px;
    width: 100px;
    height: 5px;
    padding: 15px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    margin-top: 40px;
}

#Find {
    color: #fff;
    background-color: #FF5400;
}

/* popular tours section */
.popular-tours-contraner {
    display: flex;
    margin-top: 70px;


}

.popular-tours-description-contraner {
    margin-right: 40px;
    width: 50%;


}

.popular-tours-description-contraner>h3 {
    font-size: 30px;
    font-weight: 800;
    color: #131318;
}

.popular-tours {
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;

}

.popular-tours>li {
    margin-bottom: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #FF5400;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: 0px;
}

.popular-tours-img {
    width: 100%;
    height: 100%;
}

/* main section */

/* Destination section */

.Destination-tital {
    text-align: center;
}

.Destination-tital>h3 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 80px;
}

.Destination-tital>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 20px;
}

/* .Destination-contriner{
    
} */
.top-destination-img {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.one-img {
    margin-right: 20px;
}

.mid-destination-img {
    display: flex;
    column-gap: 20px;
}

.down-destination-img {
    display: flex;
    margin-top: 20px;
}

.six-img {
    margin-right: 20px;

}

.text-continar {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;

}

.one-text,
.two-text,
.three-text,
.four-text,
.five-text,
.six-text,
.seven-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
}

.Choose-text-contranir {
    text-align: center;
    margin-top: 50px;
}

.Choose-header {
    font-size: 30px;
    font-weight: 800;
    color: #131318;
    margin-top: 20px;
}

.Choose-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px 40px 0px;

}

.Choose-img-contranir {
    display: flex;
    gap: 20px;
}

.one-choose-img>img {
    width: 50px;
    height: 50px;

}

.two-choose-img>img {
    width: 50px;
    height: 50px;
}

.one-choose-img>h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.one-choose-img {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.one-choose-img>p {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.two-choose-img {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}

.two-choose-img>h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.two-choose-img>p {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.down-img-contranir {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.three-choose-img>img {
    width: 50px;
    height: 50px;
}

.three-choose-img>h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.three-choose-img {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
    width: 500px;
    height: 200px;

}

.three-choose-img>p {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.Discounts-text {
    text-align: center;
    margin: 80px;
}

.Discounts-text>h3 {
    font-size: 30px;
    font-weight: 700;

}

.text-primary {
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

/* Deals & Discounts section */
.Deals-Discounts-top-part {
    position: relative;
    display: inline-block;
}

.Deals-Discounts-top-part>img {
    display: block;
}

.Deals-Discounts-text-contranir {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 20%;
    right: 10%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
}

.Deals-Discounts-mid-part {
    position: relative;
    display: inline-block;
}

.Deals-Discounts-mid-part>img {
    display: block;
}

.Deals-Discounts-mid-text-contranir {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 20%;
    left: 10%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
}

.time-date {
    display: flex;
    justify-content: space-between;
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
}

.Deals-Discounts-mid-text-contranir,
.Deals-Discounts-text-contranir>h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.Deals-Discounts-mid-text-contranir>h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.price {
    color: #FF5400;
    font-size: 17px;
    font-weight: 800;
}

.discaunt-btn {
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    border: 0px;
}

.All-Packages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.All-Packages-btn {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 0px;
}

.simple-place-continar {
    display: flex;
    margin-top: 80px;
}

.simple-place-text-continar>h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 60px;
    color: #131318;
}

.li-iteam {
    margin-bottom: 20px;
}

.simple-place-btn {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    color: #FFF;
}

.simple-place-img {
    position: relative;
    display: inline-block;
}

.bd-mountain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;

}

.Newsletter-contranir {
    display: flex;
    margin-top: 80px;
    align-items: stretch;
}

.Newsletter-from {
    padding: 20px;
    margin-bottom: 20px;
    width: 40%;
    flex: 1;
}

.Newsletter-from>h3 {
    background-color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

.Newsletter-from>p {
    background-color: #FFF;
}

.Newsletter-from-btn,
.Newsletter-input {
    display: block;
    margin-bottom: 20px;
    width: 330px;
    height: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0px;
    text-align: center;
}

#newsletter-id {
    background-color: #FF5400;
}

.Newsletter-img {
    flex: 0 0 auto;
}

.Newsletter-img>img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.Newsletter-tocan {
    width: 250px;
    height: 80px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    top: 65%;
    left: 57%;
    padding: 15px;
    text-align: center;
}

.Newsletter-img {
    display: inline-block;
    position: relative;
}

.Newsletter-tocan>h6 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Newsletter-tocan>h3 {
    font-size: 27px;
    font-weight: 800;
    margin-top: 0px;
}

/* footer section */

footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 80px;
}

.footer-web-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#footer-text {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer-icon-contranir {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-icon>img {
    width: 20px;
    height: 20px;
    margin-bottom: 50px;
}

hr {
    margin-left: 250px;
    margin-right: 250px;
}

.footer-Reserved {
    text-align: center;
}

/*  Media Screen */


/* Mobile Devices */
@media screen and (max-width:600px) {

    header,
    main {
        margin: 20px;
    }

    nav {
        flex-direction: column;

    }

    .ancor-part {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1fr);
        row-gap: 10px;

    }

    .banner-section {
        padding: 10px;
        height: 100%;
    }

    .banner-section>h1 {
        font-size: 30px;
    }

    .banner-section>p {
        margin-top: 0px;
    }

    .input-box>input {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
        width: 80%;
        height: 10px;

    }
    .Newsletter-contranir,
    .simple-place-continar,
    .Choose-img-contranir,
    .down-destination-img ,
    .mid-destination-img,
    .top-destination-img,
    .popular-tours-contraner {
        flex-direction: column;
    }

    .popular-tours-img {
        margin-top: 20px;
    }

    .Destination-tital>h3 {
        font-size: 20px;
        text-align: center;
    }

    
    .top-destination-img img {
        width: 100%;
    }
    .mid-destination-img img{
        width: 100%;
    }
    .down-destination-img img{
        width: 100%;
    }
    .Deals-Discounts-top-part img{
        width: 100%;
        height: 600px;
    }
    .Deals-Discounts-text-contranir{
        width: auto;
        height: auto;
    }
    .Deals-Discounts-mid-part img{
        width: 100%;
        height: 600px;
    }
    .Deals-Discounts-mid-text-contranir{
        width: auto;
        height: auto; 
    }
    .simple-place-img img{
        width: 100%;
        margin-top: 10px;
    }
    .Newsletter-img img{
        width: 100%;
    }
    .Newsletter-tocan {
        width: 150px;
        top: 30%;
        left: 40%;
    }
    #footer-text {
        
        padding: 15px;
    }

}